@import "bootstrap.min.css";

@font-face {
  font-family: "HarmonyOS_Sans_Regular";
  src: url("../font/HarmonyOS_Sans_Regular.ttf");
}

* {
  font-family: "HarmonyOS_Sans_Regular", serif !important;
  padding: 0;
  margin: 0;
}
