@import "bootstrap.min.css";

@font-face {
  font-family: "AlimamaShuHeiTi-Bold";
  src: url("../font/AlimamaShuHeiTi-Bold.woff2");
}

* {
  font-family: "AlimamaShuHeiTi-Bold", serif !important;
  padding: 0;
  margin: 0;
}
