<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Burst Meter</title>
    <link rel="stylesheet" href="../assets/css/application.css">
    <link rel="stylesheet" href="burst-meter.css">
    <script src="../assets/js/bootstrap.bundle.min.js"></script>
    <script src="../assets/js/react.production.min.js"></script>
    <script src="../assets/js/react-dom.production.min.js"></script>
    <script src="../assets/js/babel.min.js"></script>
    <script src="../assets/js/utils.js"></script>
</head>
<body>
<div id="root"></div>
</body>
<script type="text/babel">
    "use strict";

    const Component = ({ data }) => {
        const formatData = SnakeToCamelConverter.convertKeys(data);
        const { title } = formatData
        return <div className="container text-center">
            <div className="row justify-content-md-center background">
                <div className="row justify-content-md-center py-4">
                    <div className="col-3">
                        { title }
                    </div>
                    <div className="col-4">
                        <h2>起手</h2>
                    </div>
                    <div className="col-4">
                        <h2>收手</h2>
                    </div>
                </div>
                <div className="row justify-content-md-center">
                    <div className="col-3">

                    </div>
                    <div className="col-4">
                        <img src="../../resource/图片1.jpg" className="img-thumbnail"/>
                    </div>
                    <div className="col-4">
                        <img src="../../resource/图片1.jpg" className="img-thumbnail"/>
                    </div>
                </div>
                <div className="row justify-content-md-center py-4">
                    <div className="col-3">

                    </div>
                    <div className="col-4">
                        <img src="../../resource/图片1.jpg" className="img-thumbnail"/>
                    </div>
                    <div className="col-4">
                        <img src="../../resource/图片1.jpg" className="img-thumbnail"/>
                    </div>
                </div>
            </div>
        </div>
    }

    const data = {title:"hello"}
    // const initDom = (data) => {
        const root = ReactDOM.createRoot(document.querySelector("#root"));
        root.render(<Component data={data} />);
    // };
</script>
</html>