<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Duo Idol Boost Map</title>
    <link rel="stylesheet" href="../assets/css/application.css">
    <link rel="stylesheet" href="boost-map.css">
    <script src="../assets/js/bootstrap.bundle.min.js"></script>
    <script src="../assets/js/react.production.min.js"></script>
    <script src="../assets/js/react-dom.production.min.js"></script>
    <script src="../assets/js/babel.min.js"></script>
    <script src="../assets/js/utils.js"></script>
</head>
<body>
<div id="root"></div>
</body>
<script type="text/babel">
    "use strict";

    const Component = ({ data }) => {
        const formatData = SnakeToCamelConverter.convertKeys(data);
        const { title } = formatData
        const { memo } = formatData
        const { phaseA } = formatData
        const { phaseB } = formatData

        function renderWithLineBreaks(text) {
            const lines = text.split("\n")
            return lines.map((line, index) => (
                <p key={index}>{line}</p>
            ))
        }

        return <div className="container">
            <div className="row justify-content-center w-75 main">
                <div className="row map-card justify-content-center my-3" style={{width: "90%"}}>
                    <div className="row title-card mt-3">
                        <div className="col-8 d-flex align-self-center">
                            <h1>{title || "Unknown"}</h1>
                        </div>
                        <div className="col-4 d-flex align-self-center justify-content-end">
                            <h2>2v2排位星动</h2>
                        </div>
                    </div>
                    <div className="row detail-card my-3">
                        <div className="col-12">
                            <div className="row row-cols-4 info-card text-center mt-3">
                                <div className="col-3 has-bg">备注</div>
                                <div className="col-9 has-bg">{!memo && "什么都没有"}</div>
                            </div>
                        </div>
                        <div className="col-8 my-3 label-card">
                            <h2 className="text-light">First Turn Description</h2>
                        </div>
                        <div className="col-12">
                            <div className="row info-card text-center">
                                <div className="col">{phaseA.description ? renderWithLineBreaks(phaseA.description) :"什么都没有"}</div>
                            </div>
                            <div className="row info-card mt-3 position-relative">
                                <div className="overlay-text">Boost Start</div>
                                {phaseA.start ? <img src={phaseA.start}/> : <img src="../assets/img/null.jpg"/>}
                            </div>
                            <div className="row info-card my-3 position-relative">
                                <div className="overlay-text">Boost End</div>
                                {phaseA.end ? <img src={phaseA.end}/> : <img src="../assets/img/null.jpg"/>}
                            </div>
                        </div>
                        <div className="col-8 my-3 label-card">
                            <h2 className="text-light">Second Turn Description</h2>
                        </div>
                        <div className="col-12">
                            <div className="row info-card text-center">
                                <div className="col">{phaseB.description ? renderWithLineBreaks(phaseB.description) :"什么都没有"}</div>
                            </div>
                            <div className="row info-card mt-3 position-relative">
                                <div className="overlay-text">Boost Start</div>
                                {phaseB.start ? <img src={phaseB.start}/> : <img src="../assets/img/null.jpg"/>}
                            </div>
                            <div className="row info-card my-3 position-relative">
                                <div className="overlay-text">Boost End</div>
                                {phaseB.end ? <img src={phaseB.end}/> : <img src="../assets/img/null.jpg"/>}
                            </div>
                        </div>
                    </div>
                </div>
                <div className="row footer mb-3 text-center" style={{width: "90%"}}>
                    <h1 className="text-light">GENERATE BY SCARLET-BOT<img style={{width: "10%"}} src="../assets/img/footer.png"/></h1>
                </div>
            </div>
        </div>
    }

    const initDom = (data) => {
        const root = ReactDOM.createRoot(document.querySelector("#root"));
        root.render(<Component data={data} />);
    };
</script>
</html>