<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Solo Idol Boost Map</title>
  <link rel="stylesheet" href="../assets/css/application.css">
  <link rel="stylesheet" href="solo-idol-boost-map.css">
  <script src="../assets/js/bootstrap.bundle.min.js"></script>
  <script src="../assets/js/react.production.min.js"></script>
  <script src="../assets/js/react-dom.production.min.js"></script>
  <script src="../assets/js/babel.min.js"></script>
  <script src="../assets/js/utils.js"></script>
</head>
<body>
<div id="root"></div>
</body>
<script type="text/babel">
  "use strict";

  const Component = ({ data }) => {
    const formatData = SnakeToCamelConverter.convertKeys(data);
    const { title } = formatData
    const { memo } = formatData
    const { rating } = formatData
    const { mapRating } = formatData
    const { mapDifficulty } = formatData
    const { boostDifficulty } = formatData
    const { recommend } = formatData
    const { theoryScore } = formatData
    const { halfCombo } = formatData
    const { comment } = formatData
    const { boostInfo } = formatData

    return <div className="container">
      <div className="row justify-content-center w-75 main">
        <div className="row map-card justify-content-center my-3" style={{width: "90%"}}>
          <div className="row title-card mt-3">
            <div className="col-8 d-flex align-self-center">
              <h1>{title || "Unknown"}</h1>
            </div>
            <div className="col-4 d-flex align-self-center justify-content-end">
              <h2>单人排位星动</h2>
            </div>
          </div>
          <div className="row detail-card my-3">
            <div className="col-6 my-3 label-card">
              <h2 className="text-light">Map Detail</h2>
            </div>
            <div className="col-12">
              <div className="row row-cols-4 info-card text-center">
                <div className="col">歌曲评分</div>
                <div className="col">{rating || "/"}</div>
                <div className="col">谱面评分</div>
                <div className="col">{mapRating || "/"}</div>
                <div className="col has-bg">谱面定数</div>
                <div className="col has-bg">{mapDifficulty || "/"}</div>
                <div className="col has-bg">爆气难度</div>
                <div className="col has-bg">{boostDifficulty || "/"}</div>
                <div className="col">推荐指数</div>
                <div className="col">{recommend || "/"}</div>
                <div className="col">半combo</div>
                <div className="col">{halfCombo || "/"}</div>
                <div className="col-3 has-bg">理论值</div>
                <div className="col-9 has-bg">{theoryScore || "/"}</div>
                <div className="col-3">备注</div>
                <div className="col-9">{!memo && "什么都没有"}</div>
                <div className="col-3 has-bg">简评</div>
                <div className="col-9 has-bg">{comment || "什么都没有"}</div>
              </div>
            </div>
            <div className="col-6 my-3 label-card">
              <h2 className="text-light">Boost Description</h2>
            </div>
            <div className="col-12">
              <div className="row info-card text-center">
                <div className="col">{boostInfo.description || "什么都没有"}</div>
              </div>
              <div className="row info-card mt-3 position-relative">
                <div className="overlay-text">Boost Start</div>
                {boostInfo.start ? <img src={boostInfo.start}/> : <img src="../assets/img/null.jpg"/>}
              </div>
              <div className="row info-card my-3 position-relative">
                <div className="overlay-text">Boost End</div>
                {boostInfo.end ? <img src={boostInfo.end}/> : <img src="../assets/img/null.jpg"/>}
              </div>
            </div>
          </div>
        </div>
        <div className="row footer mb-3 text-center" style={{width: "90%"}}>
          <h1 className="text-light">GENERATE BY SCARLET-BOT<img style={{width: "10%"}} src="../assets/img/footer.png"/></h1>
        </div>
      </div>
    </div>
  }

  const data = {
    title: "夏日回音",
    boostInfo: {
      description: "A(115) 右手条拐完爆左手条头\n" +
              "（没去过的风景「~」）\n" +
              "\n" +
              "收手 右手弓条完抢14轨双押\n" +
              "（不会有救兵～ 哈~哈~哈~ 「没」说完的话）\n" +
              "\n" +
              "警告：“每失眠的夜 不会有救兵”“救兵”对应165cb\n" +
              "1轨单点和2轨条，此处2轨条务必右手接；\n" +
              "“没遗憾的人 从不计代价”“计代”对应303cb的\n" +
              "4轨单点和3轨条，此处3轨条务必左手接"
    }
  }

  const initDom = (data) => {
    const root = ReactDOM.createRoot(document.querySelector("#root"));
    root.render(<Component data={data} />);
  };
</script>
</html>